#contenedor_chiste {
    max-width: 500px;
    margin-left: auto;
    margin-right:auto;
    border: 0.1rem solid rgb(155, 155, 155);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem;

    box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem rgb(155, 155, 155);
}


h1{
    text-align:center;
    margin-top: 2rem;
}

#chiste {
    width: 80%;
    text-align: center;
    font-size: 1.5rem;
}
/*
#btn_chiste {

}*/